<div class="tutorial">
    <h1>Getting started</h1>

    <section>
        <h2>Managing users</h2>
        <p>
            <strong>Users:</strong><br/>
            Here you can view and add users. Obligatory fields are marked with asterisks*
        </p>
        <p>
            <strong>Managers:</strong><br/>
            Here you view and edit contact persons for the users.
            For testing, the phone number can be fake, but email has to be correct for scheduling calls in the calendar.
        </p>
    </section>

    <section>
        <h2>Managing the assistant</h2>
        <p>
            <strong>Assistants:</strong><br/>
            Select an assistant and edit prompts to get different behavior or tone of voice.
            Add files to assistant's knowledge base by selecting them at the bottom under Knowledge Base and save.
        </p>
        <p>
            <strong>Knowledge:</strong>
            Drag and drop files in the Upload file tab and click Submit.
            After that you can find them in the tab Knowledge base.
            In the Knowledge base, you can open files to edit them, just press save.
            When you want to add the uploaded file to the Knowledge base, select it and pick action
            "Add to knowledge base" in the dropdown below.
            Refresh, and when the status of the file changes to "ADDED AS KNOWLEDGE", you can add it to your assistant.
        </p>
    </section>
</div>


<style>
div:has(> div.tutorial) {
    width: 64rem;
}
div.tutorial {
    margin: 2rem;
    width: 60rem;
}
section {
    margin: 2rem 0;
}
</style>