// Override variables here

/*
$body-size: 18px;
$primary: #472183;
$family-primary: "Helvetica", sans-serif;
*/

@import "armory-sdk/src/assets/css/override.scss";
@import "armory-sdk/src/assets/css/default-skin.scss";
