// Override variables here

/*
$body-size: 18px;
$primary: #472183;
$family-primary: "Helvetica", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary: #286DAC;
$family-sans-serif: 'Poppins', sans-serif;
$family-primary: 'Poppins', sans-serif;
.template {
    position: relative;
}
.title,
.content h2.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px !important;
    font-weight: bold;
}
body {
    overflow: hidden;
}
.text-headline {
    font-family: 'Poppins';
    margin-top: 64px;
    padding: 0;
    font-size: 64px;
    font-weight: bold;
    color: black;
}
.text-headline2 {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.035em;
    line-height: 120%;
    color: rgba(28, 65, 77, 0.83);
}
.text-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.035em;
    
    font-size: 24px;
    margin-top: 28px;
    color: #3c3c3c;
    line-height: 32px;
}
.text-headline-bottom {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.035em;
    
    position: fixed;
    left: 50%;
    bottom: 200px;
    
    color: black;
    transform: translateX(-50%);
}
@import "armory-sdk/src/assets/css/override.scss";
@import "armory-sdk/src/assets/css/default-skin.scss";

.b-slider.is-large .b-slider-tick-label {
    line-height: 3rem;
}

div.Description > div {
    text-align: center;
}

.background div {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    display: block;
    backdrop-filter: blur(24px);
}
.background .one {
    position: absolute;
    left: -120px;
    top: calc(-20% - 120px);
    width: 500px;
    height: 500px;
    background: #138038;
    opacity: 0.4;
}
.background .two {
    right: -140px;
    top: calc(-10% - 80px);
    width: 400px;
    height: 400px;
    background: #76D0EC;
    opacity: .5;
}
.background .three {
    position: absolute;
    left: -220px;
    top: -20%;
    width: 600px;
    height: 600px;
    background: #76D0EC;
    opacity: 0.5;
}
.moli-right {
    transform: rotate(-15deg);
    position: absolute;
    right: -150px;
    top: 32px;
    height: 300px;
}

.b-slider .b-slider-tick-label {
    top: calc(2.25rem + 2px);
}


.b-slider .b-slider-track {
    height: 3.5rem;
}

span {
    font-weight: bold;
}

button {
    background-color: #286DAC !important;
    transition-duration: 0.2s !important;
}

button:hover {
    border-color: #286DAC !important;
    background-color: white !important;
    color: black !important;
}

.Header {
    height: unset !important;
  }
  
.BackButton {
align-self: center;
}

#header-image {
height: 46px !important;
}

#header-image > img {
max-height: unset;
}

.SubmitButton > button:focus > span {
display: none;
}

.SubmitButton > button:focus::after {
content: "";
position: absolute;
width: 24px;
height: 24px;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
border: 4px solid transparent;
border-top-color: #ffffff;
border-radius: 50%;
animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
from {
    transform: rotate(0turn);
}

to {
    transform: rotate(1turn);
}
}
  